<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}" href="css/normalize.css"/>
    <link rel="stylesheet" th:href="@{/css/skeleton.css}" href="css/skeleton.css"/>
    <link rel="stylesheet" th:href="@{/css/paleoStyle.css}" href="css/paleoStyle.css"/>
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="shortcut icon" href="img/favicon.ico">
    <title>PaleoSun demo</title>
</head>

<body>
<div class="container">
    <div class="row first">
        <div class="four columns">
            <a href="/index.html" rel="#home" target="_blank">
                <img src="/img/logo-white@2x.png" alt="PS logo"/>
            </a>
        </div>
        <div class="eight columns">
            <div class="menu">
                <button class="button-primary menu" alt="Home" name="home">Home</button>
                <a href="/about.html" alt="About" name="about">About</a>
                <a href="/portfolio.html" alt="Portfolio" name="portfolio">Portfolio</a>
                <a href="/blog.html" alt="Blog" name="blog">Blog</a>
                <a href="/archives.html" alt="Archives" name="about">Archives</a>
                <a href="/contact.html" alt="Contact" name="about">Contact</a>
                <input type="text" class="menu" alt="Search" name="search" placeholder="Search"/>
            </div>
        </div>
    </div><!--first row-->


    <div class="row second">
        Row 2
    </div>
    <div class="row third">
        Row 3
    </div>


</div><!--container-->
</body>
</html>